.radio-container {
  display: flex;
  align-items: center;

  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: .8rem;
  padding: .4rem;

  & .radio-wrapper {
    cursor: pointer;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    padding: 1rem;
    border-radius: .4rem;
    position: relative;

    & [type="radio"] {
      all: unset;
      position: absolute;
      inset: 0;
    }
  }

  & .radio-wrapper:has(:checked) {
    background-color: var(--shape-button);
  }
}

.color-items {
  margin-block: 1.6rem 2.8rem;
  justify-content: space-between;

  & .color-container {
    padding: .6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: var(--shape-button);

    & .color-inner {
      position: relative;
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
      
      & [type="radio"] {
        all: unset;
        position: absolute;
        inset: 0;
        cursor: pointer;
      }
    }

  }

  & .color-container:has(:checked) {
    outline: 2px solid var(--brand-light);
  }
}

.themes {
  margin-top: 1.6rem;
  grid-template-columns: repeat(auto-fit, minmax(13.4rem, 1fr));
}

.theme-wrapper {
  padding: .4rem .4rem .8rem;
  width: max-content;

  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .8rem;

  border-radius: .8rem;
  border: 1px solid var(--input-stroke);
  background-color: var(--shape-button);

  & img {
    border-radius: .4rem;
  }

  & [type="radio"] {
    all: unset;
    position: absolute;
    inset: 0; 
    cursor: pointer;
  }

  &:has(:checked) {
    outline: 2px solid var(--brand-light);
  }
}